@model List<MiFrikimundo.Models.Movie>
@{
    ViewData["Title"] = "Index";
}

<div>
    <h3>Peliculas</h3>
    <form>
        <div class="button-rigth">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/Movies/Create'">Agregar</button>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Director</th>
            <th>Genero</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Director</td>
                <td>@movie.Gender?.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@movie.Id">Editar</a>
                    <a asp-action="Delete" asp-route-id="@movie.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>