@model List<MiFrikimundo.Models.Movie>
@{
    ViewData["Title"] = "Index";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item ms-2">
                        <h3>PELICULAS</h3>
                    </li>
                    <li class="nav-item m-md-1 ms-md-4">
                        <form asp-controller="Movies" asp-action="Index" method="get">
                            <input style="width: 80%; float:left; border-top-left-radius:20%; border-bottom-left-radius:20%; background:transparent" type="text" name="searchString" class="form-control" />
                            <button style="width: 20%; float: left; border: none; background: transparent; height: 40px" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </li>
                    <li class="nav-item ms-auto">
                        <form>
                            <div>
                                <button type="button" class="btn btn-primary custom-bg" onclick="window.location.href='/Movies/Create'">Agregar</button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Director</th>
            <th>Genero</th>
            <th>Rating</th>
            <th>Fecha</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Director</td>
                <td>@movie.Gender?.Name</td>
                <td>@movie.Rating</td>
                <td>@movie.Created</td>
                <td>
                    <div class="d-flex justify-content-center">
                        <img src="@movie.ImageUrl" style="width: 70%" />
                    </div>
                </td>
                <td>
                    <img src="/images/@movie.ImageUrl" alt="Imagen de @movie.Title" style="width: 100px; height: auto;" />
                </td>
                <td>
                    <div class="d-flex justify-content-center">
                        <img src="/images/@movie.ImageUrl" style="width: 70%" />
                    </div>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@movie.Id">Editar</a>
                    <a asp-action="Delete" asp-route-id="@movie.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-6">
                <div class="d-flex justify-content-center">
                    <h4>@item.Title</h4>
                </div>
                <div class="d-flex justify-content-center">
                    <img src="/images/@item.ImageUrl" style="width: 70%" />
                </div>
                <div class="d-flex justify-content-center">
                    @item.Director
                </div>
            </div>
        }
    </div>
</div>